@model ASP.NET_MVC.Models.PersonenViewModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PersonenViewModel</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Pk">
			<div class="form-group">
				<label asp-for="Vorname" class="control-label"></label>
				<input asp-for="Vorname" class="form-control" />
				<span asp-validation-for="Vorname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Nachname" class="control-label"></label>
				<input asp-for="Nachname" class="form-control" />
				<span asp-validation-for="Nachname" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Alter" class="control-label"></label>
				<input asp-for="Alter" class="form-control" />
				<span asp-validation-for="Alter" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Adresse" class="control-label"></label>
				<input asp-for="Adresse" class="form-control" />
				<span asp-validation-for="Adresse" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">Geschlecht</label><br />

				<input type="radio" asp-for="Geschlecht" value="Männlich" /> Männlich<br />
				<input type="radio" asp-for="Geschlecht" value="Weiblich" /> Weiblich<br />
				<input type="radio" asp-for="Geschlecht" value="Divers" /> Divers<br />

				<span asp-validation-for="Geschlecht" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<hr />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
